body,html, .container{
    height:100%;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-device-width: 480px) {
    .show-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}

@media only screen and (min-device-width: 481px) {
    .show-mobile {
        display: none;
    }
    .hide-mobile {
        display: block;
    }
}

.left-side-pannel {
    background-color: rgb(249, 249, 249);
}

.right-side-pannel {
    background-color: rgb(238, 238, 238);
}

.vertical-align-middle {
  height: 25%;
}

.vertical-align-quarter {
    height: 13%;
}

.form-box {
  border-color: black; /*no funciona*/
}

.as-parent {
    height: 100%;
}

.line {
    border-right: 17px ridge #2390c9;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    word-wrap: break-word;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 400%;
    font-weight: 700;
    margin-bottom: 5%;
    word-wrap: break-word;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    font-weight: 700;
    margin-bottom: 10%;
    word-wrap: break-word;
}

.session-input {
    margin-bottom: 5%;
}

.error-message {
    font-size: 20px;
    color: red;
}

.front-img{
    margin-left: 20%;
    width: 40%;
    height: 40%;
}

@media (max-device-width: 480px) {
    p {
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        word-wrap: break-word;
    }

    h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 180%;
        font-weight: 700;
        margin-bottom: 5%;
        word-wrap: break-word;
    }

    h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 100%;
        font-weight: 700;
        margin-bottom: 10%;
        word-wrap: break-word;
    }

    .error-message {
        font-size: 10px;
        color: red;
    }

    .vertical-align-quarter, .vertical-align-middle{
        height: 5%;
    }

    .left-side-pannel, .right-side-pannel {
        padding-bottom: 50px;
    }

    .vertical-align-middle {
        height: 5%;
        margin-bottom: 5%;
    }

    .line {
        border-right: 0px ridge #2390c9;
        border-bottom: 10px ridge #2390c9;;
    }

    .error-message {
        font-size: 17px;
    }

    .front-img{
        margin-left: 20%;
        width: 40%;
        height: 40%;
    }
}
